@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.primary-btn {
  text-decoration: none;
  background-color: #000;
  color: #fff;
  font-size: 18px;
  padding: 10px 20px;
  display: inline-block;
  border-radius: 20px;
  margin-top: 10px;
  border: none;
}

.primary-btn:hover {
  box-shadow: inset 0px 0px 0px 3px #000000;
  color: #000;
  background: none;
}

.anchor-btn {
  text-decoration: none;
  background-color: #000;
  color: #fff;
  font-size: 18px;
  padding: 10px 20px;
  display: inline-block;
  border-radius: 20px;
  margin-top: 10px;
  border: none;
}

.anchor-btn:hover {
  box-shadow: inset 0px 0px 0px 3px #000000;
  color: #000;
  background: none;
}

header {
  border-bottom: 5px solid #000;
  display: flex;
  align-items: center;
  height: 20vh;
}

.logo:link,
.logo:visited {
  color: #000;
  text-decoration: none;
  font-size: 100px;
}

/***************** HOMEPAGE ******************/

.homepage-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.homepage-right-img {
  width: 100%;
  height: 80vh;
}

.homepage-header {
  border-bottom: 5px solid #000;
  display: flex;
  align-items: center;
  height: 20vh;
}

.homepage-logo:link,
.homepage-logo:visited {
  font-size: 100px;
  text-decoration: none;
  color: #000;
  /* margin-top: 20px; */
  margin-left: 100px;
}

.homepage-logins {
  display: flex;
  flex-direction: column;
  margin-left: 100px;
  justify-content: center;
  height: 80vh;
  gap: 80px;
}

.homepage-logins a:link,
.homepage-logins a:visited {
  text-decoration: none;
  background-color: #000;
  color: #fff;
  font-size: 18px;
  padding: 10px 20px;
  display: inline-block;
  border-radius: 20px;
  margin-top: 10px;
}

.homepage-logins a:hover,
.homepage-logins a:active {
  box-shadow: inset 0px 0px 0px 3px #000000;
  color: #000;
  background: none;
}

.homepage-logins p {
  font-size: 18px;
}

/***************** LOGIN *****************/

.login-header {
  border-bottom: 5px solid #000;
  height: 20vh;
  display: flex;
  align-items: center;
  font-size: 100px;
}

.login-logo:link,
.login-logo:visited {
  text-decoration: none;
  color: #000;
}

.login-div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.login-form {
  padding: 20px;
  width: 20vw;
}

.login-control {
  margin-bottom: 20px;
}

.login-control input {
  display: block;
  width: 100%;
}

.login-control label {
  font-size: 20px;
}

.login-control input {
  font-size: 18px;
  margin-top: 5px;
}

.login-submit {
  background-color: #000;
  color: #fff;
  font-size: 18px;
  padding: 10px 20px;
  border-radius: 20px;
  margin-top: 10px;
  border: none;
}

.login-submit:hover {
  box-shadow: inset 0px 0px 0px 3px #000000;
  color: #000;
  background: none;
  cursor: pointer;
}

/***************** PREFERENCE *****************/

.cr-header {
  border-bottom: 5px solid #000;
  display: flex;
  align-items: center;
}

.cr-logo:link,
.cr-logo:visited {
  color: #000;
  text-decoration: none;
  font-size: 100px;
}

.rc-line {
  border: none;
  border-bottom: 5px solid #000;
}

.rc-top-div {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 15px 0;
}

.rc-top-div input {
  background-color: #ccc;
  border-radius: 20px;
  border: none;
  padding: 20px;
  font-size: 18px;
}

.rc-bottom-div {
  padding: 15px 0;
  /* display: grid;
  grid-template-columns: repeat(4, 1fr); */
}

.rc-poi h1 {
  margin-bottom: 10px;
}

.rc-poi-buttons-div {
  margin: 10px 0;
}

.rc-poi-buttons {
  background: none;
  text-decoration: underline;
  border: none;
  font-size: 16px;
  margin: 5px;
}

.rc-poi-buttons:hover {
  cursor: pointer;
}

.rc-poi {
  margin: 20px auto 40px auto;
}

.rc-study-level {
  margin: 20px auto 20px auto;
}

.cr-form {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.rc-form-checkbox {
  display: flex;
  gap: 10px;
  font-size: 20px;
}

.rc-form-submit {
  /* position: absolute;
  bottom: 50px;
  width: 80%; */
  margin-top: 50px;
}

/* /////////// RESULT /////////// */

.result-title {
  margin: 30px auto;
}

/* /////////// DASHBOARD /////////// */

.dashboard-courses {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
}

.dashboard-course {
  border: 2px solid #000;

  width: 250px;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  gap: 30px;
}

.dashboard-btn {
  background-color: #000;
  color: #fff;
  padding: 7px;
  text-decoration: none;
  border-radius: 20px;
  border: none;
  font-size: 16;
}

.dashboard-btn:hover {
  cursor: pointer;
}

.dashboard-courses-btns {
  display: flex;
  gap: 10px;
}

.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dashboard-courses-title {
  margin: 20px 0;
}

/* //////////// ADD COURSE /////////// */

.add-course {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.courses-title {
  margin: 50px 0 80px 0;
}

.courses-course {
  color: #000;
  text-decoration: underline;
}

.form-items {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form-items input {
  width: 300px;
}

.form-items label {
  margin: 0;
}

.add-course h1 {
  margin-bottom: 50px;
}

/* .add-course input[type=submit] {
  align-self: flex-start;
} */

/* //////////// Course ///////////// */
.course-btns-div {
  margin: 50px auto;
}

.course {
  padding-top: 50px;
}

/* //////////// Courses ///////////// */
.courses-li {
  font-size: 40px;
}

.courses-a {
  color: #000;
}

.courses-p {
  font-size: 20px;
}