<form action="/users/add-course" method="post" class="add-course">
  <input type="text" name="name" id="name" placeholder="COURSE name" />
  <input
    type="text"
    name="description"
    id="description"
    placeholder="COURSE Description"
  />

  <input type="submit" value="ADD COURSE" />
</form>
