<div class="container">

  <h1 class="courses-title">This is a list of all coursers that UTS offers &darr;</h1>

  <ol>
    <% for(let i=0; i<courses.length; i++) { %>
      <li>
        <h2><a href="courses/<%=courses[i]._id%>" class="courses-course"><%= courses[i].name %></a></h2>
      </li>
    <% } %>
  </ol>
  
</div>

<div class="container course-btns-div">
  <a href="/" class="anchor-btn">Homepage</a>
  <a href="/courses" class="anchor-btn">Courses</a>
  <a href="/preference" class="anchor-btn">Preference</a>
</div>