<div class="container courses">

  <h1 class="courses-title">List of all coursers UTS offers &darr;</h1>

  <ol class="courses-ol">
    <% for(let i=0; i<courses.length; i++) { %>
      <li class="courses-li">
        <a class="courses-a" href="courses/<%=courses[i]._id%>" class="courses-course"><%= courses[i].name %></a>
        <p class="courses-p"><%=courses[i].description%></p>
      </li>
    <% } %>
  </ol>
  
</div>

<div class="container course-btns-div">
  <a href="/" class="anchor-btn">Homepage</a>
  <!-- <a href="/courses" class="anchor-btn">Courses</a> -->
  <a href="/preference" class="anchor-btn">Course Recommender</a>
</div>