<section class="homepage-section">
  <div class="homepage-left">
    <header class="homepage-header">
      <a href="/" class="homepage-logo container">UTS</a>
    </header>
    <div class="homepage-logins">
      <div>
        <p>
          To find the best course that suits you please use our course
          recommended
        </p>
        <a href="/preference">Course Recommender</a>
      </div>
      <div>
        <p>To Add/Update/Remove Course please login into your admin login</p>
        <a href="users/login">Admin Login</a>
      </div>
    </div>
  </div>
  <div class="homepage-right">
    <img
      src="/images/homepage_img.jpeg"
      alt="library photo"
      class="homepage-right-img"
    />
  </div>
</section>
