<div>
  <!-- <header class="login-header">
    <a href="/" class="login-logo container">UTS</a>
  </header> -->
  <div class="container">
    <h2 class="result-title">We recommend the following courses for you</h2>
    <ul class="result-ul">
        <% for(let i=0; i<courses.length; i++){ %>
            <li class="result-li"> <a class="result-a" href="/courses/<%=courses[i]._id%>"><%= courses[i].name %></a> </li>
            <p class="result-p"><%=courses[i].description%></p>
        <% } %>
    </ul>
    
    <a href="/preference" class="primary-btn">Change Preferences</a>
    <a href="/" class="primary-btn">Homepage</a>

  </div>
</div>
